<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/mainWindow.css">
    <title>Time Manager</title>
</head>

<body>
    <nav>
        <ul class="nav-bar">
            <li class="nav-item">
                <img src="./img/address-card-regular.svg" alt="Account">
                <span>Account</span>
            </li>
            <li class="nav-item">
                <img src="./img/chart-bar-regular.svg" alt="Settings">
                <span>Overview</span>
            </li>
            <li class="nav-item">
                <img src="./img/tasks-solid.svg" alt="Tasks">
                <span>Tasks</span>
            </li>
            <li class="nav-item">
                <img src="./img/users-solid.svg" alt="Team">
                <span>Team</span>
            </li>
            <li class="nav-item">
                <img src="./img/question-circle-regular.svg" alt="About">
                <span>About</span>
            </li>
            <li class="nav-item">
                <img src="./img/cogs-solid.svg" alt="Settings">
                <span>Settings</span>
            </li>
        </ul>
    </nav>
</body>

</html>